<!-- Start Items Grid Area -->
<section class="items-grid section custom-padding">
    <div class="container">
        <ItemsGridHeaderComponent />

        <!-- Category Dropdown Area -->
        <div class="search-form wow fadeInUp" data-wow-delay=".7s">
            <div class="row d-flex justify-content-center">
                <!-- Select Category Area -->
                <div class="col-lg-3 col-md-3 col-12 p-0">
                    <div class="search-input">
                        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                        <select value="@SelectedCategory" @onchange="ChangeCategory" name="category"
                            id="product-categories">
                            <option value="@string.Empty" selected>Все Категории</option>
                            @foreach (var category in Categories)
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- End Select Category Area -->

                <!-- Select Tag Area -->
                <div class="col-lg-3 col-md-3 col-12 p-0">
                    <div class="search-input">
                        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                        <select name="category" value="@SelectedTag" @onchange="ChangeTag" id="product-tags">
                            <option value="@string.Empty" selected>Все Теги</option>
                            @foreach (var tag in Tags)
                            {
                                <option value="@tag">@tag</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- End Select Tag Area -->
            </div>
        </div>
        <!-- End Category Dropdown Area -->

        <div class="single-head">
            <div class="row">
                @if (OnFocus is not null)
                {
                    @foreach (var model in Items)
                    {
                        <ItemCardComponent ItemModel="@model"></ItemCardComponent>
                    }

                }
                else
                {
                    @foreach (var model in SelectedModels)
                    {
                        <ItemCardComponent ItemModel="@model"></ItemCardComponent>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End Items Grid Area -->

@code {

    [Parameter]
    public string OnFocus { get; set; }

    public List<ItemModel> Items { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Items = new List<ItemModel>();
        Items = SelectedModels.Where(i => i.Title.Contains(OnFocus)
                                        || i.Tag.Contains(OnFocus)
                                        ||
                                        i.Category.Contains(OnFocus)
                                        ).ToList();
        Console.WriteLine(ItemModels);
    }
}